   body {
       margin: 0;
       background-image: url(city.jpg);
       background-position: bottom;
       background-size: cover;
       background-repeat: no-repeat;
       height: 100vh;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   
   #clock-container {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
   }
   
   #clock {
       font-family: monospace;
       font-size: 7rem;
       font-weight: bold;
       text-align: center;
       color: antiquewhite;
       backdrop-filter: blur(7px);
       width: 100%;
       background-color: rgba(255, 241, 241, 0.295);
   }